<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite>
            <!-- <directory>tests/unit</directory> -->
            <directory>tests/functional</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix="Test.php">tests</directory>
        </whitelist>
    </filter>
</phpunit>